.mosque-name-container-imamResult {
  width: 100%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.mosque-name-imamResult {
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  color: gray;
}

.verify-title-container-imamResult {
  display: flex;
 font-style: italic;

  margin-top: 25px;
 font-weight: bold;
  border-bottom: 1px solid #b52d3b;
  width: 100%;
  overflow: auto;
 
}
.verify-title-imamResult {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: flex-start;
  padding-left: 50px;
}
.verify-title-imamResult:hover {
  cursor: pointer;
  color: #b52d3b;
}

/*-------Awaiting js section--------*/

.awaiting-container-awaiting {
  padding: 20px;
}
.seprator-awaiting {
  height: 250px;
  width: 1px;
  margin-right: 10px;
  background-color: black;
}

.btn-awaiting {
  /* background-color: green; */
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.btn2-awaiting {
  /* background-color: #b52d3b; */
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.btn3-awaiting {
  /* background-color: #ebeaea; */
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  cursor: pointer;
  text-align: center;
}

.btn-awaiting svg,
.btn2-awaiting svg,
.btn3-awaiting svg {
  width: 20px; /* Set the desired width */
  height: 20px; /* Set the desired height */
  vertical-align: middle; /* Ensure the icons are vertically aligned */
}

/*---------------------------------*/


/*--------------Imam users data---*/

.imam-profiles-data{
  padding: 50px;
  margin: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adding box shadow for card effect */
  background-color: white; /* Setting background color to white */
  border-radius: 8px; /* Adding border radius for rounded corners */
  padding: 16px; /* Adding padding for spacing inside the card */
}

.imam-profiles-head{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
/* }
@media(max-width:767px){
.verify-title-container-imamResult {
  min-width: 400px;
  overflow: auto !important;
 
} */
}

@media(max-width:1199px){
  .btn-container-awaiting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row !important;
  }
}
@media (max-width: 560px) {
  .imam-profiles-data {
      margin: 0px !important;
  }
}
@media (max-width: 375px) {
    .imam-profiles-head {
        gap: 10px;
    }
}